doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include ../static/style.css
        title Document
    body 
        h1 Hello world 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate officiis iure fuga eaque voluptatum optio assumenda aut exercitationem. Voluptate eos magnam explicabo, aperiam debitis culpa iste rem distinctio atque ea!
        script script.js