doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= GreenBasket
    link(rel='stylesheet', href='public/css/style.css') 
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css')


  body
    
    nav.navbar.navbar-expand-lg.bg-body-tertiary

      .container-fluid
        a.logo-heading.navbar-brand(href='#') GreenBasket
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon

        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href='#') Home
            li.nav-item
              a.nav-link(href='#') About
            li.nav-item
              a.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') Services
              ul.dropdown-menu
                li
                  a.dropdown-item(href='#') Action
                li
                  a.dropdown-item(href='#') Another action
                li
                  hr.dropdown-divider
                li
                  a.dropdown-item(href='#') Something else here
          ul.navbar-nav
            li.nav-item
              button.btn.btn-outline-success.mx-2(type='submit') Login
              button.btn.btn-outline-primary(type='submit') Register

        
    section#landing 
      .container.flex-container
        .flex-item-1
          h1.main-heading GreenBasket
          h1.secondary-heading.center Your Fresh Green Grocery Source!
        .flex-item-2
    
    h1.secondary-heading.text-center.mt-4 Product Categories
    section#product 
      .container
        .card
          .card-header
            ul.nav.nav-tabs.card-header-tabs.space-around
              li.nav-item
                a.nav-link.active(aria-current='true', href='#') Fresh Fruits
              li.nav-item
                a.nav-link(href='#') Fresh Vegetables
              li.nav-item
                a.nav-link(href='#') Groceries
              li.nav-item
                a.nav-link(href='#') Health Care
              li.nav-item 
                form.d-flex.pb-2(role='search')
                  input.form-control.me-2(type='search', placeholder='Search', aria-label='Search')
                  utton.btn.btn-outline-success(type='submit') Search
            
          .row
            .col-md-3
              .card-img 
                img.card-img-top(src="../public/img/apple.jpg", alt="...")
              .card-body
                  h5.card-title Apple
                  p.card-text 
                  span Price: $3.99/kg
                  .row.mt-2.space-around
                    
                    .col-4.my-2
                      input.form-control.form-control.price(type="number")
                    .col-4.my-2
                      a.btn.btn-primary.m-auto(href="#") Add
            .col-md-3
              .card-img 
                img.card-img-top(src="../public/img/guava.jpg", alt="...")
              .card-body
                  h5.card-title Guava
                  p.card-text 
                  span Price: $1.49/kg
                  .row.mt-2.space-around
                    .col-4.my-2
                      input.form-control.form-control.price(type="number")
                    .col-4.my-2
                      a.btn.btn-primary.m-auto(href="#") Add 
            .col-md-3
              .card-img 
                img.card-img-top(src="../public/img/orange.jpg", alt="...")
              .card-body
                  h5.card-title Orange
                  p.card-text 
                  span Price: $4.49/kg
                  .row.mt-2.space-around
                    .col-4.my-2
                      input.form-control.form-control.price(type="number")
                    .col-4.my-2
                      a.btn.btn-primary.m-auto(href="#") Add 
            .col-md-3
              .card-img 
                img.card-img-top(src="../public/img/mango.jpg", alt="...")
              .card-body
                  h5.card-title Mango
                  p.card-text 
                  span Price: $2.99/kg
                  .row.mt-2.space-around
                    .col-4.my-2
                      input.form-control.form-control.price(type="number")
                    .col-4.my-2
                      a.btn.btn-primary.m-auto(href="#") Add 
            .col-md-3
              .card-img 
                img.card-img-top(src="../public/img/guava.jpg", alt="...")
              .card-body
                  h5.card-title Guava
                  p.card-text 
                  span Price: $1.49/kg
                  .row.mt-2.space-around
                    .col-4.my-2
                      input.form-control.form-control.price(type="number")
                    .col-4.my-2
                      a.btn.btn-primary.m-auto(href="#") Add 
            .col-md-3
              .card-img 
                img.card-img-top(src="../public/img/orange.jpg", alt="...")
              .card-body
                  h5.card-title Orange
                  p.card-text 
                  span Price: $4.49/kg
                  .row.mt-2.space-around
                    .col-4.my-2
                      input.form-control.price(type="number")
                    .col-4.my-2
                      a.btn.btn-primary.m-auto(href="#") Add 
            .col-md-3
              .card-img 
                img.card-img-top(src="../public/img/mango.jpg", alt="...")
              .card-body
                  h5.card-title Mango
                  p.card-text 
                  span Price: $2.99/kg
                  .row.mt-2.space-around
                    .col-4.my-2
                      input.form-control.price(type="number")
                    .col-4.my-2
                      a.btn.btn-primary.m-auto(href="#") Add 

    section#about-us
      .flex-container
        .flex-item-2
          img(src="public/img/bg-2.jpg", alt="About Us Image")
        .flex-item-3.about-us-content
          h2.secondary-heading About Us
          p At GreenBasket, we're not just an online grocery store; we're your trusted partner in providing fresh and wholesome groceries right at your doorstep. Thank you for choosing GreenBasket, your trusted source for fresh and local groceries.
    section#contact-us.my-3
      .container
        .row.justify-content-center
          .col-md-6.contact-us-content
            h1.text-center.secondary-heading Contact Us
            form
              .form-group
                input.form-control.form-control-sm.my-2(type="text", id="name", placeholder="Your Name")
              .form-group
                input.form-control.form-control-sm(type="email", id="email", placeholder="Your Email")
              .form-group
                textarea.form-control.form-control-sm.my-2(id="message", rows="5", placeholder="Your Message")
              .text-center
                button.btn.btn-primary.text-center(type="submit") Submit





    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js')
