doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='public/css/style.css') 

  body
    nav
      ul
        li.active
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Services
        li
          a(href='#') Contact
        
    h1 Hello world
